In [62]:
from IPython.display import display, HTML
display(HTML("<style>pre { white-space: pre !important; } </style>"))

notes
if the number of data cols are the same at the source and target but there are diffrent column then it's just column renaming

In [11]:
# ## consts

# type_mapping = {
#     "string": "STRING",
#     "integer": "INT",
#     "float": "FLOAT",
#     "double": "DOUBLE",
#     "date": "DATE",
#     "boolean": "BOOLEAN"
# }


# ## utils
# def connect_to_db(postgres_cred):
    
#     engine = create_engine(f'postgresql://{postgres["USER"]}:{postgres["PASSWORD"]}@{postgres["HOST"]}:{postgres["PORT"]}/{postgres["db"]}')
#     try:
#         with engine.connect() as conn:             
#             print(f"succefuly connected to {postgres['db']} at host: {postgres['HOST']}")
#         return engine
        
#     except exc.SQLAlchemyError as e:
#         print(f"connection failed !")
#         print(f"Error {e}")


# def write_df_to_db(df, table_name, engine):
    
#     try:
#         print(f"start writing data to {table_name}")
#         start_time  = time.time() 
#         df.to_sql(name = table_name, con = engine, if_exists='append', index=False, method = "multi", chunksize=1000)
#         end_time  = time.time() 
#         print(f"Data of {len(df)} record Successfully written to the {table_name} table")
#         print(f"the proccess toke {end_time - start_time} seconds")
    
#     except exc.SQLAlchemyError as e:
#         print(f"failed to write data to {table_name} table")
#         print(f"Error: {e}")

#     except ValueError as ve:
#         print(f"ValueError occured during the write process")
#         print(f"Error: {ve}")
    
#     except Exception as ex:
#         print(f"An expected error occured")
#         print(f"Error: {ex}")
    

# def finalize_things(engine):
#     engine.dispose()
#     print("engine disposed and connection closed successfully")



# def start_spark_session(spark_master, app_name, memory):
#     spark = (SparkSession.builder.appName(app_name)
#             .config("spark.master",spark_master)
#             .config("spark.driver.memory",memory)
#             .config("spark.executer.memory",memory)
#             .config("spark.jars", "/opt/spark/jars/postgresql-42.2.18.jar")
#             .getOrCreate())
#     return spark




# def check_if_schema_exists(spark, schema_name):
#     #check if the provided schema exists or not
    
#     database_count = spark.sql(f"show databases like '{schema_name}'").count()
#     if database_count:
#         return True
#     else:
#         return False

# def check_if_table_exists(spark, schema_name, table_name):
#     #first check if the provided schema exists or not, raise exception if not exist
#     #then check if the table exists or not, also raise exception if not exists
#     if check_if_schema_exists(spark, schema_name):
#         spark.sql(f"USE {schema_name}")
#         table_count = spark.sql(f"show tables like '{table_name}'").count()
            
#         if table_count:
#             return True
            
#         else:
#             return False
#     else:
#         raise Exception(f"schema: {schema_name} doesn't exist")
        
# def get_drift_cols(df_source, df_target):
#     #check if any column at the source missed in the target
    
#     drift_cols = {}   
#     # get the source and target fields
#     source_fields = df_source.schema.fields
#     target_fields = df_target.schema.fields

#     # get any missed cols
#     missed_fields = set(df_source.schema.fields) - set(df_target.schema.fields)

#     # detect and flag the columns that dropped or added to the source 
#     added_cols_to_the_source = [field for field in source_fields if field not in target_fields ]
#     dropped_cols_at_the_source = [field for field in target_fields if field not in source_fields ]
    
#     if added_cols_to_the_source or dropped_cols_at_the_source:
#         for field in added_cols_to_the_source:
#             drift_cols[str(field.name)] = [str(field.dataType)[:-6],"add"]
#         for field in dropped_cols_at_the_source:
#             drift_cols[str(field.name)] = [str(field.dataType)[:-6],"drop"]
    
            
#         # drift_cols = {col: type_mapping.get(dtype.lower(), dtype.upper()) for col, dtype in drift_cols.items()}
#         print(f"new actions at the source {list(drift_cols.keys())}")
        

#     elif len(source_fields) == len(target_fields):
#         # flag this column as renamed if the source and target culomns are the same in number but there are changes
#         possible_renamed_cols_at_the_source = [field for field in source_fields if field not in target_fields ]

#         for field in possible_renamed_cols_at_the_source:
#             drift_cols[str(field.name)] = [str(field.dataType)[:-6],"rename"]
                    
#         # drift_cols = {col: type_mapping.get(dtype.lower(), dtype.upper()) for col, dtype in drift_cols.items()}
#         print(f"possible renamed columns at the source {list(drift_cols.keys())}")
               
#     else:
#         print("no changes at the source schema")
#         return None
#     return drift_cols

# def apply_hash(df_source, df_target, join_on):
#     """ 
#         this func uses md5 function to apply hash, 
#         here we will add hash column to the source and target data frames
#         returns those two data frames with hash column 
#     """
#     data_cols = [col for col in df_target.columns]
#     hash_func = F.md5(F.concat_ws("|", *[F.col(col) for col in data_cols]))
#     df_source = df_source.withColumn("hash_value", hash_func).alias("source")
#     df_target = df_target.withColumn("hash_value", hash_func).alias("target")
#     return df_source, df_target
    

# def get_source_changes(df_source, df_target, join_keys):
#     """
#         this function takes two data frames and return dataframe 
#         that contains any record changes (update, insert, delete)
#     """
    
#     # add hash column that saves hased value for the data so we can check an update
#     data_cols= [col for col in df_target.columns]
#     hashed_source, hashed_target = apply_hash(df_source, df_target, join_keys)

#     # apply full outer join on the source and the target by the key column to detect any changes 
#     join_statment = [hashed_source[join_key] == hashed_target[join_key] for join_key in join_keys]
#     join_result = hashed_source.join(hashed_target, join_statment, "full")
    
#     # filter conditions to select update, insert and delete records from the join result
#     update_condition = f"source.hash_value != target.hash_value"
    
#     insert_key_condition = "and ".join([f"target.{key} is null " for key in join_keys])
#     insert_condition = f"{insert_key_condition} and target.hash_value is null"
    
#     delete_key_condition = "and ".join([f"source.{key} is null " for key in join_keys])
#     delete_condition = f"{delete_key_condition} and source.hash_value is null"

#     ## filter and flag the changes
    
#     # >> get updtas
#     filter_updated_data = join_result.filter(update_condition).select("source.*")
#     updated_data = filter_updated_data.withColumn("cdc_flag", F.lit("U"))
    
#     # >> get inserts                                                     
#     filter_inserted_data = join_result.filter(insert_condition).select("source.*")
#     inserted_data = filter_inserted_data.withColumn("cdc_flag", F.lit("I"))
    
#     # >> get deletes
#     filter_deleted_data = join_result.filter(delete_condition).select("target.*")
#     deleted_data = filter_deleted_data.withColumn("cdc_flag", F.lit("D"))

#     # >> union all the changes into one dataframe 
#     upserted_data = updated_data.unionByName(inserted_data).unionByName(deleted_data).select(data_cols+["cdc_flag"])
    
#     return upserted_data,join_result

# def upsert_target(spark, schema_name, source_table_name, target_table_name, key_columns, upsert_flag ):
    
#     # check if the schema and tables are exists, raise exception if any not exist
#     for table in [source_table_name, target_table_name]:
#         if not check_if_table_exists(spark, schema_name, table):
#             raise Exception(f"Table: {table} doesn't exist in the schema: {schema_name}")
            
#     # get the sourse and target data    
#     df_source = spark.sql(f"select * from {schema_name}.{source_table_name}")
#     df_target = spark.sql(f"select * from {schema_name}.{target_table_name}")
    
#     # get any new columns at the source and alter the target schema:
#     if get_drift_cols(df_source, df_target):
#         new_source_fields = get_drift_cols(df_source, df_target)
#         columns_to_add = ", ".join([f"{col} {type_mapping[dtype[0].lower()]}" 
#                                     for col, dtype in new_source_fields.items() if dtype[1] == "add"])

#         columns_to_drop = ", ".join([f"{col}" 
#                                     for col, dtype in new_source_fields.items() if dtype[1] == "drop"])

#         columns_to_rename = ", ".join([f"{col} {type_mapping[dtype[0].lower()]}" 
#                                     for col, dtype in new_source_fields.items() if dtype[1] == "rename"])
        
#         alter_add_query = f"alter table {schema_name}.{target_table_name} add columns ({columns_to_add})"
#         alter_drop_query = f"alter table {schema_name}.{target_table_name} drop columns {columns_to_drop}"
        
        
#         if columns_to_add:
#             spark.sql(alter_add_query)
#         if columns_to_drop:
#             spark.sql(alter_drop_query)
            
#         print(new_source_fields)
#         #read the new altered target
#         df_target = spark.sql(f"select * from {schema_name}.{target_table_name}")
    
    
#     # get the delta and changes from the source and save it temporarely
    
#     changes, join_result= get_source_changes(df_source, df_target, key_columns)
#     print(f"source changes {changes.show()}")
    
#     if not changes.count():
#         return f"no changes at source: {source_table_name}", None
#     changes.createOrReplaceTempView("changes")

#     # merge the changes (updates, inserts, deletes) into the target
#     merge_condition = " and".join([f"{schema_name}.{target_name}.{key_column} = changes.{key_column}" 
#                                    for key_column in key_columns])
#     try:
#         spark.sql(f"use database {schema_name}")

#         merge_upserts_statment = f""" MERGE INTO {schema_name}.{target_table_name} 
#                                       using (select * from changes) 
#                                       on {merge_condition}
#                                       WHEN MATCHED AND changes.{upsert_flag} = 'U' THEN UPDATE SET *
#                                       WHEN MATCHED AND changes.{upsert_flag} = 'D' THEN DELETE
#                                       WHEN NOT MATCHED THEN INSERT *
#                                   """
#         spark.sql(merge_upserts_statment)
        
#     except Exception as e:
#         print(f"some error happened while merging{e}")    
#     return changes, join_result


def alter_datalake_target(spark, schema_name, source_table_name, target_table_name):
# check if the schema and tables are exists, raise exception if any not exist
    for table in [source_table_name, target_table_name]:
        if not check_if_table_exists(spark, schema_name, table):
            raise Exception(f"Table: {table} doesn't exist in the schema: {schema_name}")
            
    # get the sourse and target data    
    df_source = spark.sql(f"select * from {schema_name}.{source_table_name}")
    df_target = spark.sql(f"select * from {schema_name}.{target_table_name}")
    
    # get any new columns at the source and alter the target schema:
    new_source_fields = {}
    
    if get_drift_cols(df_source, df_target):
        new_source_fields = get_drift_cols(df_source, df_target)
        
        columns_to_add = ", ".join([f"{col} {spark_type_mapping[dtype[0].lower()]}" 
                                    for col, dtype in new_source_fields.items() if dtype[1] == "add"])
    
        columns_to_drop = ", ".join([f"{col}" 
                                    for col, dtype in new_source_fields.items() if dtype[1] == "drop"])
      
        columns_to_rename = ", ".join([f"{col} {spark_type_mapping[dtype[0].lower()]}" 
                                    for col, dtype in new_source_fields.items() if dtype[1] == "rename"])
        
        alter_add_query = f"alter table {schema_name}.{target_table_name} add columns ({columns_to_add})"
        alter_drop_query = f"alter table {schema_name}.{target_table_name} drop columns {columns_to_drop}"
        
        
        if columns_to_add:
            spark.sql(alter_add_query)
        if columns_to_drop:
            spark.sql(alter_drop_query)
            
    return new_source_fields



def check_if_db_table_exists(engine, schema_name, table_name):
    
    inspector = inspect(engine)
    existance_flag = inspector.has_table(table_name, schema = schema_name)
    
    return existance_flag
        
    

def alter_db_target(engine, db_table, schema_name, new_source_fields):
    """ This function hits the database to apply and alter any changes at the tables' schema  """

    changes_db_table = f"{db_table}_cdc"
    
    columns_to_add = ""
    columns_to_drop = ""
    
    if new_source_fields:        
        
        columns_to_add = ",".join([f"{col} {postgres_type_mapping[dtype[0].lower()]}" 
                                    for col, dtype in new_source_fields.items() if dtype[1] == "add"])
    
        columns_to_drop = ",".join([f"{col}" 
                                    for col, dtype in new_source_fields.items() if dtype[1] == "drop"])
      

    for table in [db_table, changes_db_table]:
        if not check_if_db_table_exists(engine, schema_name, table):
           raise Exception(f"Table: {table} doesn't exist at the schema: {schema_name} at {postgres_cred['db']}")
            
    if columns_to_add or columns_to_drop:
        
        with engine.connect() as conn:
            
            if columns_to_add:
                columns_to_add = columns_to_add.split(",")
                print(columns_to_add)
                
                for col in columns_to_add:
                    try:  
                        add_query = text(f"""
                        ALTER TABLE {db_table} ADD COLUMN {col}
                        """)
                
                        conn.execute(add_query)
                        conn.commit()
                    except Exception as e:
                        print(f"erorr {e} at the database while execute this query {add_query}")
                    
                    
            if columns_to_drop:
                columns_to_drop = columns_to_drop.split(",")
                print(columns_to_drop)
                
                for col in columns_to_drop:
                    try:
                        drop_query = text(f"""
                                    ALTER TABLE {db_table} drop COLUMN "{col}"
                                    """)
            
                        conn.execute(drop_query)
                        conn.commit()
                    except Exception as e:
                        print(f"erorr {e} at the database while execute this query {drop_query}")
            

def upsert_db_target(engine, db_table, schema_name):
    
    changes_db_table = f"{db_table}_cdc"
    
    inspector = inspect(engine)
    

    for table in [db_table, changes_db_table]:
        if not check_if_db_table_exists(engine, schema_name, table):
           raise Exception(f"Table: {table} doesn't exist at the schema: {schema_name} at {postgres_cred['db']}")
               
    # get the the column names of the target table
    db_target_columns = ",".join(f'\"{col["name"]}\"' for col in 
                                 inspector.get_columns(db_table, schema = schema_name))

    splitted_db_column = db_target_columns.split(",")
    
    with engine.connect() as conn:
        try:
            insert_query = text(f"""insert into {db_table}
                                        select {db_target_columns}
                                        from {changes_db_table} 
                                        where cdc_flag = 'I'""")
            
            conn.execute(insert_query)
            conn.commit()
        except Exception as e_insert:
            print(f"erorr {e_insert} at the database while execute this query {insert_query}")
            
            
        set_clause = ", ".join([f"{col} = cdc.{col}" for col in splitted_db_column
                                                                    if col not in key_column])

        try:
            update_query = text(f"""update {db_table}  
                                    set {set_clause}
                                    from {changes_db_table} as cdc 
                                    where cdc.cdc_flag = 'U' 
                                    and {db_table}."{key_column[0]}" = cdc."{key_column[0]}"
                                    """)
            conn.execute(update_query)
            conn.commit()
        except Exception as e_update:
            print(f"erorr {e_update} at the database while execute this query {update_query}")
        
        
        
        try:
            delete_query = text(f"""delete from {db_table} as target
                                    using {changes_db_table} as cdc
                                    where target."{key_column[0]}" = cdc."{key_column[0]}"
                                    and cdc.cdc_flag = 'D'
                                    """)
            conn.execute(delete_query)
            conn.commit()
        except Exception as e_delete:
            print(f"erorr {e_delete} at the database while execute this query {delete_query}")

In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from sqlalchemy import create_engine, exc, text, inspect
import config
from utils import * 
import consts 


if __name__ == "__main__":

    #Glopal variables
    postgres_cred = config.POSTGRS_CREDENTIALS
    # spark variables
    spark_master = "spark://af27ca1c49e9:7077"
    app_name = "pyspark_upsert"
    memory = "2g"
    
    # data lake variables
    csv_file = "/home/iceberg/warehouse/Customers.csv"
    schema_name = "iceberg"
    db_schema_name = "public"
    source_table = "patition_source_customers"
    target_table = "patition_target_customers"
    key_column = ["CustomerID"]
    upsert_flag = "cdc_flag"
    db_table = "costumers"
    changes_table = f"{db_table}_cdc"
    
    
    spark = start_spark_session(spark_master = spark_master, 
                                app_name = app_name, 
                                memory = memory)

24/12/05 07:59:51 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
spark.sql("")

In [19]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from sqlalchemy import create_engine, exc, text, inspect
import config
from utils import * 
import consts 


if __name__ == "__main__":

    #Glopal variables
    postgres_cred = config.POSTGRS_CREDENTIALS
    # spark variables
    spark_master = "spark://af27ca1c49e9:7077"
    app_name = "pyspark_upsert"
    memory = "2g"
    
    # data lake variables
    csv_file = "/home/iceberg/warehouse/Customers.csv"
    schema_name = "iceberg"
    db_schema_name = "public"
    source_table = "patition_source_customers"
    target_table = "patition_target_customers"
    key_column = ["CustomerID"]
    upsert_flag = "cdc_flag"
    db_table = "costumers"
    changes_table = f"{db_table}_cdc"
    
    
    spark = start_spark_session(spark_master = spark_master, 
                                app_name = app_name, 
                                memory = memory)

    
    
    df = spark.read.csv(csv_file, 
                        header=True, 
                        inferSchema=True)
    
    df_limited = df.limit(15)
    
    spark.sql(f"create database if not exists {schema_name}")
    
    df_limited.write.format("iceberg").saveAsTable(f"{schema_name}.{source_table}",
                                                   mode="overwrite")
    
    # df_limited.write.format("iceberg").saveAsTable(f"{schema_name}.{target_table}")

    # write_sdf_to_postgres_db(df_limited, 
    #                      config.POSTGRS_CREDENTIALS, 
    #                      db_table, 
    #                      mode = "overwrite")
    
    # df_source = spark.sql(f"select * from {schema_name}.{source_table}")
    # df_target = spark.sql(f"select * from {schema_name}.{target_table}")
    # source_changes , join_result= get_source_changes(df_source, df_target, ["CustomerID"])


    source_new_actions = alter_datalake_target(spark, 
                                               schema_name, 
                                               source_table, 
                                               target_table)

    changes, join_result = get_source_changes(spark, 
                                              schema_name, 
                                              source_table, 
                                              target_table, 
                                              key_column)

    changes.show()
    
    write_sdf_to_postgres_db(changes, 
                             config.POSTGRS_CREDENTIALS, 
                             changes_table, 
                             mode = "overwrite")
    
    upsert_datalake_target(spark, 
                           schema_name, 
                           source_table, 
                           target_table,
                           key_column,
                           changes, 
                           upsert_flag)

    engine = connect_to_db(postgres_cred)
    
    alter_db_target(engine, db_table, db_schema_name, source_new_actions)

    upsert_db_target(engine, db_table, db_schema_name)

no changes at the source schema
+---+----------+------+---+-----------------+----------------------+----------+---------------+-----------+--------+
|uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|Profession|Work Experience|Family Size|cdc_flag|
+---+----------+------+---+-----------------+----------------------+----------+---------------+-----------+--------+
| 11|        11|  MAle| 23|            84000|                    94|Healthcare|              1|          3|       U|
+---+----------+------+---+-----------------+----------------------+----------+---------------+-----------+--------+

start merging
succefuly connected to CUSTOMERS_DWH at host: postgres

In [20]:
spark.sql("select * from iceberg.patition_target_customers").show()

+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|  1|         1|Female| 25|            15000|                    39|     Engineer|              1|          4|
|  2|         2|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|  3|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|  5|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|
|  6|         5|  Male| 31|             5700|                    40|Entertainment|              2|          6|
|  7|         6|  Male| 27|             5700|                    40|       Lawyer|              2|          6|
|  0|         7|  Male| 27|             5700|                    40|       Lawyer|              2|          6|
| 90|         8|  Male| 35|            31000|                     6|   Healthcare|              1|          3|
| 10|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|
| 10|        10|  MAle| 23|            84000|                    94|   Healthcare|              1|          3|
| 11|        11|  MAle| 23|            84000|                    94|   Healthcare|              1|          3|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+

In [22]:
spark.sql("select * from iceberg.patition_target_customers").show()

+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
| 11|        11|  MAle| 23|            84000|                    94|   Healthcare|              1|          3|
|  1|         1|Female| 25|            15000|                    39|     Engineer|              1|          4|
|  2|         2|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|  3|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|  5|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|
|  6|         5|  Male| 31|             5700|                    40|Entertainment|              2|          6|
|  7|         6|  Male| 27|             5700|                    40|       Lawyer|              2|          6|
|  0|         7|  Male| 27|             5700|                    40|       Lawyer|              2|          6|
| 90|         8|  Male| 35|            31000|                     6|   Healthcare|              1|          3|
| 10|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|
| 10|        10|  MAle| 23|            84000|                    94|   Healthcare|              1|          3|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+

In [14]:
# df_limited.write.format("iceberg").saveAsTable(f"{schema_name}.{target_table}")

write_sdf_to_postgres_db(df_limited, 
                     config.POSTGRS_CREDENTIALS, 
                     db_table, 
                     mode = "overwrite")

In [6]:
spark.sql("create global temp view spark_view as select * from iceberg.patition_target_customers")

AnalysisException: [TEMP_TABLE_OR_VIEW_ALREADY_EXISTS] Cannot create the temporary view `spark_view` because it already exists.
Choose a different name, drop or replace the existing view,  or add the IF NOT EXISTS clause to tolerate pre-existing views.

In [2]:
spark.sql("select * from global_temp.spark_view").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `global_temp`.`spark_view` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [global_temp, spark_view], [], false

In [8]:
spark.stop()

In [33]:
spark.sql("select * from iceberg.patition_target_customers.history").show()

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2024-12-01 11:01:...|5870829690807936430|               NULL|               true|
|2024-12-01 11:08:...|3606740596860261162|5870829690807936430|               true|
+--------------------+-------------------+-------------------+-------------------+

In [56]:
import datetime
import random 
from pyspark.sql.types import StringType, FloatType, DateType

def generate_random_date(start_date, end_date):
    # Convert start_date and end_date to `yyyy-MM-dd` format
    start_date_lit = F.lit(start_date)
    end_date_lit = F.lit(end_date)
    
    # Calculate the random date
    random_date = F.expr(f"date_add('{start_date}', cast(rand() * datediff('{end_date}', '{start_date}') as int))")
    return random_date
    
    
start_date = '2024-02-01'
end_date = '2024-04-01'

# Add a random date column
df_with_random_dates = df.withColumn("Date", generate_random_date(start_date, end_date))

                            
                    
df_with_random_dates.partitionBy()

+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+----------+----------+
|uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|my_column|now_column|      Date|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+----------+----------+
|  1|         1|Female| 25|            15000|                    39|     Engineer|              1|          4|     ataa|kjbhvsdbfk|2024-03-07|
|  2|         2|  Male| 42|            35000|                    81|     Engineer|              3|          3|        2|      NULL|2024-03-31|
|  3|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|     haab|      NULL|2024-03-06|
|  5|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|      zoo|      NULL|2024-03-11|
|  6|         5|  Male| 31|             5700|                    40|Entertainment|              2|          6|     NULL|      NULL|2024-03-12|
| 70|         6|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|      NULL|2024-02-17|
| 80|         7|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|      NULL|2024-03-20|
| 90|         8|Female| 35|            31000|                     6|   Healthcare|              1|          3|     NULL|      NULL|2024-03-31|
|100|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|      NULL|2024-02-06|
| 10|        10|  male| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|      NULL|2024-02-02|
| 11|        11|Female| 64|            97000|                     3|     Engineer|              0|          3|     NULL|      NULL|2024-02-21|
| 14|        12|  Male| 67|             7000|                    14|     Engineer|              1|          3|     NULL|      NULL|2024-03-07|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+----------+----------+

In [1]:
from pyspark.sql import SparkSession, DataFrame
from pyspark.sql import functions as F
from sqlalchemy import create_engine, exc, text, inspect
import config
from utils import * 
import consts 


if __name__ == "__main__":

    #Glopal variables
    postgres_cred = config.POSTGRS_CREDENTIALS
    # spark variables
    spark_master = "spark://af27ca1c49e9:7077"
    app_name = "pyspark_upsert"
    memory = "2g"
    
    # data lake variables
    csv_file = "/home/iceberg/warehouse/customers_stage.csv"
    schema_name = "iceberg"
    source_table = "partition_source_customers"
    target_table = "partition_target_customers"
    key_column = ["CustomerID"]
    upsert_flag = "cdc_flag"
    db_table = "costumers"
    changes_table = f"{db_table}_table_cdc"
    
    
    spark = start_spark_session(spark_master = spark_master, 
                                app_name = app_name, memory = memory)
    
    # df = spark.read.csv(csv_file, header=True, inferSchema=True)
    # df_limited = df.limit(13)
    
    # spark.sql(f"create database if not exists {schema_name}")
    # df.write.partitionBy("Age").format("iceberg").saveAsTable(f"{schema_name}.{source_table}",
                                                   # mode="overwrite")
    # df.write.partitionBy("new_column").format("iceberg").saveAsTable(f"{schema_name}.{source_table}",
    #                                                mode="overwrite")

    # query = f"""select count(*) 
    #             from
    #             information_schema.tables 
    #             where table_schema = {schema_name} 
    #                 and table_name = {table_name} """
    
    engine = connect_to_db(postgres_cred)
    inspector = inspect(engine)
    print(inspector.has_table("costumers_table_cdc", schema = "public"))
    # with engine.connect() as conn:
    #     conn.execute()

succefuly connected to CUSTOMERS_DWH at host: postgres

24/12/02 08:20:31 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
spark.sql("alter table iceberg.partition_source_customers drop column Gender").show()

++
||
++
++

In [6]:
from sqlalchemy import create_engine, exc, text, inspect

engine = connect_to_db(postgres_cred)
inspector = inspect(engine)
print(inspector.has_table("costumers_table_cdc", schema = "public"))

succefuly connected to CUSTOMERS_DWH at host: postgres
True

In [24]:
engine = connect_to_db(postgres_cred)
inspector = inspect(engine)
print(inspector.has_table("costumers_table_cdc", schema = "public"))
print(inspector.get_columns("costumers", schema = "public"))
db_columns = ",".join(col["name"] for col in inspector.get_columns("costumers", schema = "public"))

succefuly connected to CUSTOMERS_DWH at host: postgres
True
[{'name': 'uid', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'CustomerID', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Gender', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Age', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Annual Income ($)', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Spending Score (1-100)', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Profession', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Work Experience', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'Family Size', 'type': INTEGER(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'my_column', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'now_column', 'type': TEXT(), 'nullable': True, 'default': None, 'autoincrement': False, 'comment': None}, {'name': 'cdc_flag', 'type': TEXT(), 'nullable': False, 'default': None, 'autoincrement': False, 'comment': None}]

In [26]:
db_columns.split(",")

['uid',
 'CustomerID',
 'Gender',
 'Age',
 'Annual Income ($)',
 'Spending Score (1-100)',
 'Profession',
 'Work Experience',
 'Family Size',
 'my_column',
 'now_column',
 'cdc_flag']

In [14]:
changes.write.format("jdbc")\
        .option("url", f"jdbc:postgresql://postgres:{config.POSTGRS_CREDENTIALS['PORT']}/{config.POSTGRS_CREDENTIALS['db']}") \
        .option("driver", "org.postgresql.Driver") \
        .option("dbtable", "test_table") \
        .option("user", config.POSTGRS_CREDENTIALS["USER"]) \
        .option("password", config.POSTGRS_CREDENTIALS["PASSWORD"]) \
        .mode("overwrite") \
        .save()

In [2]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 385.7/385.7 kB 427.5 kB/s eta 0:00:00a 0:00:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp39-cp39-linux_x86_64.whl size=472659 sha256=62a87383d67dfab5f75ed939333af07abf56b34832683bc9e3008bb81b45df6c
  Stored in directory: /root/.cache/pip/wheels/a3/f0/13/36dd45ba7a971c79ded4f3003e5f4652d262195d0e8ea8f249
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

[notice] A new release of pip is available: 23.0.1 -> 24.3.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [15]:
changes.show()

+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+--------+
|uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|my_column|cdc_flag|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+--------+
|  3|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|     haab|       U|
|  5|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|      zoo|       U|
|  6|         5|  Male| 31|             5700|                    40|Entertainment|              2|          6|     NULL|       U|
| 70|         6|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|       U|
| 80|         7|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|       U|
| 90|         8|Female| 35|            31000|                     6|   Healthcare|              1|          3|     NULL|       U|
|100|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|       U|
| 11|        10|  male| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|       U|
| 12|        11|Female| 64|            97000|                     3|     Engineer|              0|          3|     NULL|       U|
| 13|        12|  Male| 67|             7000|                    14|     Engineer|              1|          3|     NULL|       U|
+---+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+--------+

In [3]:
spark.sql("select * from iceberg.target_customers.history").show()

+--------------------+-------------------+-------------------+-------------------+
|     made_current_at|        snapshot_id|          parent_id|is_current_ancestor|
+--------------------+-------------------+-------------------+-------------------+
|2024-11-27 11:23:...| 842133445075260869|               NULL|               true|
|2024-11-27 11:45:...|5495001484026353230| 842133445075260869|               true|
|2024-11-27 11:46:...|3331717049093625722|5495001484026353230|               true|
|2024-11-27 11:46:...|1838334206140450778|3331717049093625722|               true|
|2024-11-27 12:03:...|3075584120797630664|1838334206140450778|               true|
|2024-11-27 12:05:...|6107534639912780166|3075584120797630664|               true|
|2024-11-27 12:08:...|3057032334845989142|6107534639912780166|               true|
|2024-11-27 12:09:...|6440120487727355684|3057032334845989142|               true|
|2024-11-27 12:12:...|2131501795121033187|6440120487727355684|               true|
|2024-11-27 12:17:...|3815639585568450895|2131501795121033187|               true|
|2024-11-27 12:17:...|2880779604255117755|3815639585568450895|               true|
|2024-11-27 12:18:...|5875028925904351790|2880779604255117755|               true|
|2024-11-27 16:13:...|9012525566198417205|5875028925904351790|               true|
|2024-11-27 16:41:...|5776329571494013396|9012525566198417205|               true|
|2024-11-27 16:48:...|4603189299173988312|5776329571494013396|               true|
|2024-11-27 16:49:...| 523380484991932790|4603189299173988312|               true|
|2024-11-27 17:06:...| 977717561622280734| 523380484991932790|               true|
|2024-11-27 17:07:...|5980331219226369433| 977717561622280734|               true|
|2024-11-27 17:09:...|5415803791936511728|5980331219226369433|               true|
|2024-11-27 17:10:...|2381800314418478148|5415803791936511728|               true|
+--------------------+-------------------+-------------------+-------------------+

In [3]:
connect_to_db(postgres_cred)

succefuly connected to CUSTOMERS_DWH at host: postgres

Engine(postgresql://root:***@postgres:5432/CUSTOMERS_DWH)

In [3]:
changes_table[]

'cdc_costumers_table'

In [7]:
spark.sql("select * from iceberg.target_customers order by CustomerID").collect()

[Row(uid=1, CustomerID=1, Gender='Female', Age=25, Annual Income ($)=15000, Spending Score (1-100)=39, Profession='Engineer', Work Experience=1, Family Size=4, my_column=' ataa'),
 Row(uid=2, CustomerID=2, Gender='Male', Age=42, Annual Income ($)=35000, Spending Score (1-100)=81, Profession='Engineer', Work Experience=3, Family Size=3, my_column=' 2'),
 Row(uid=3, CustomerID=3, Gender='Male', Age=42, Annual Income ($)=35000, Spending Score (1-100)=81, Profession='Engineer', Work Experience=3, Family Size=3, my_column=' haab'),
 Row(uid=4, CustomerID=4, Gender='Female', Age=50, Annual Income ($)=5300, Spending Score (1-100)=77, Profession='Healthcare', Work Experience=5, Family Size=9, my_column=' zoo'),
 Row(uid=60, CustomerID=5, Gender='Female', Age=31, Annual Income ($)=5700, Spending Score (1-100)=40, Profession='Entertainment', Work Experience=2, Family Size=6, my_column=None),
 Row(uid=70, CustomerID=6, Gender='Male', Age=27, Annual Income ($)=5700, Spending Score (1-100)=40, Profession='Lawyer', Work Experience=2, Family Size=6, my_column=None),
 Row(uid=80, CustomerID=7, Gender='Male', Age=27, Annual Income ($)=5700, Spending Score (1-100)=40, Profession='Lawyer', Work Experience=2, Family Size=6, my_column=None),
 Row(uid=90, CustomerID=8, Gender='Female', Age=35, Annual Income ($)=31000, Spending Score (1-100)=6, Profession='Healthcare', Work Experience=1, Family Size=3, my_column=None),
 Row(uid=1000, CustomerID=9, Gender='Female', Age=23, Annual Income ($)=84000, Spending Score (1-100)=94, Profession='Healthcare', Work Experience=1, Family Size=3, my_column=None),
 Row(uid=110, CustomerID=10, Gender='male', Age=23, Annual Income ($)=84000, Spending Score (1-100)=94, Profession='Healthcare', Work Experience=1, Family Size=3, my_column=None),
 Row(uid=120, CustomerID=11, Gender='Female', Age=64, Annual Income ($)=97000, Spending Score (1-100)=3, Profession='Engineer', Work Experience=0, Family Size=3, my_column=None),
 Row(uid=130, CustomerID=12, Gender='Male', Age=67, Annual Income ($)=7000, Spending Score (1-100)=14, Profession='Engineer', Work Experience=1, Family Size=3, my_column=None),
 Row(uid=140, CustomerID=13, Gender='Female', Age=35, Annual Income ($)=93000, Spending Score (1-100)=99, Profession='Healthcare', Work Experience=4, Family Size=4, my_column=None)]

In [18]:
df_source = spark.sql("select * from iceberg.source_customers")
df_target = spark.sql("select * from iceberg.target_customers")
missed_fields = set(df_source.schema.fields) - set(df_target.schema.fields)

In [40]:
len(df_target.schema.fields) == len(df_source.schema.fields)

False

In [94]:
df_source.schema.fields

[StructField('CustomerID', IntegerType(), True),
 StructField('Gender', StringType(), True),
 StructField('Age', IntegerType(), True),
 StructField('Annual Income ($)', IntegerType(), True),
 StructField('Spending Score (1-100)', IntegerType(), True),
 StructField('Profession', StringType(), True),
 StructField('Work Experience', IntegerType(), True),
 StructField('Family Size', IntegerType(), True)]

In [37]:
bool(list(set(df_source.schema.fields) - set(df_target.schema.fields)))

False

In [8]:
spark = start_spark_session(spark_master = "spark://af27ca1c49e9:7077", 
                            app_name = "pyspark_upsert", memory = "2g")

In [21]:
df = spark.read.csv("/home/iceberg/warehouse/Customers.csv", header=True, inferSchema=True)
df = df.limit(11)

In [22]:
spark.sql("create database if not exists iceberg")

DataFrame[]

In [23]:
#write our source table
df.write.saveAsTable("iceberg.source_customers", mode="overwrite")

In [26]:
# df.write.saveAsTable("iceberg.target_customers")

In [23]:
# df_source = spark.sql("select * from iceberg.source_customers")
df_target = spark.sql("select * from iceberg.target_customers")
# source_changes = get_source_changes(df_source, df_target, ["CustomerID"])

In [10]:
spark.sql("select * from iceberg.target_customers").show()

+----+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+
| uid|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|my_column|
+----+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+
|   1|         1|Female| 25|            15000|                    39|     Engineer|              1|          4|     ataa|
|   2|         2|  Male| 42|            35000|                    81|     Engineer|              3|          3|        2|
|   3|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|     haab|
|   4|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|      zoo|
|  60|         5|Female| 31|             5700|                    40|Entertainment|              2|          6|     NULL|
|  70|         6|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|
|  80|         7|  Male| 27|             5700|                    40|       Lawyer|              2|          6|     NULL|
|  90|         8|Female| 35|            31000|                     6|   Healthcare|              1|          3|     NULL|
|1000|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|
| 110|        10|  male| 23|            84000|                    94|   Healthcare|              1|          3|     NULL|
|1233|        11|Female| 64|            97000|                     3|     Engineer|              0|          3|     NULL|
| 130|        12|  Male| 67|             7000|                    14|     Engineer|              1|          3|     NULL|
+----+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+---------+

In [34]:
source_changes.show()

+----------+------+---+-----------------+----------------------+----------+---------------+-----------+---------+--------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|Profession|Work Experience|Family Size| myColumn|cdc_flag|
+----------+------+---+-----------------+----------------------+----------+---------------+-----------+---------+--------+
|         1|  Male| 25|            15000|                    39|    Doctor|              1|          4|     ataa|       U|
|         2|  Male| 42|            35000|                    81|  Engineer|              3|          3|        2|       U|
|         1|  Male| 25|            15000|                    39|    Doctor|              1|          4|     ataa|       U|
|         1|  Male| 25|            15000|                    39|    Doctor|              1|          4|     ataa|       U|
|         2|  Male| 42|            35000|                    81|  Engineer|              3|          3|        2|       U|
|         6|  Male| 27|             5700|                    40|    Lawyer|              2|          6|     NULL|       D|
|         6|  Male| 27|             5700|                    40|    Lawyer|              2|          6|     NULL|       D|
|         6|  Male| 27|             5700|                    40|    Lawyer|              2|          6|     NULL|       D|
+----------+------+---+-----------------+----------------------+----------+---------------+-----------+---------+--------+

In [21]:
query = f"""
    ALTER TABLE {schema_name}.{target_name} SET TBLPROPERTIES (
  'write.spark.accept-any-schema'='true'
)
"""
spark.sql(query)

DataFrame[]

In [30]:
spark.sql("select * from iceberg.target_customers").show()

+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|CustomerID|Gender|Age|Annual Income ($)|Spending Score (1-100)|   Profession|Work Experience|Family Size|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+
|         1|  Male| 25|            15000|                    39|     Engineer|              1|          4|
|         2|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|         3|  Male| 42|            35000|                    81|     Engineer|              3|          3|
|         4|Female| 50|             5300|                    77|   Healthcare|              5|          9|
|         5|Female| 31|             5700|                    40|Entertainment|              2|          6|
|         6|  Male| 22|            58000|                    76|   Healthcare|              0|          2|
|         7|Female| 35|            31000|                     6|   Healthcare|              1|          3|
|         8|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|         9|Female| 23|            84000|                    94|   Healthcare|              1|          3|
|        10|Female| 64|            97000|                     3|     Engineer|              0|          3|
+----------+------+---+-----------------+----------------------+-------------+---------------+-----------+

In [21]:
schema_name = "iceberg"
source_name = "source_customers"
target_name = "target_customers"
key_column = ["CustomerID"]
upsert_flag = "cdc_flag"
upsert_target(spark,schema_name, source_name, target_name, key_column, upsert_flag)